POSTGRES_USER=pipre_user
POSTGRES_PASSWORD=pipre_password
POSTGRES_DB=pipre_database
DATABASE_URL=jdbc:postgresql://postgres:5432/pipre_database
PORT_BACK=8080
PORT_FRONT=5173
VITE_USE_LOCAL_BACKEND=true
VITE_LOCAL_BACKEND_URL=http://localhost:8080
