POSTGRES_USER:pipre_user
POSTGRES_PASSWORD=pipre_password
POSTGRES_DB=pipre_database
DATABASE_URL=jdbc:postgresql://postgres:5432/pipre_database
PORT_BACK=puerto_de_backend
PORT_FRONT=puerto_de_frontend