# Binarios y carpetas de compilación
bin/
obj/
publish/

# Herramientas y caché de paquetes
.template.config/
.pnpm-debug.log*
project.lock.json
project.assets.json

# Archivos de publicación y secretos (Importante para seguridad)
*.pubxml
*.pubxml.user
appsettings.Development.json
appsettings.Local.json

# Bases de datos locales
*.db
*.db-shm
*.db-wal
