# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.docx
# Entorno virtual
venv/
../.env/

# Artefactos generados por entrenamiento
saved_models/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/
